@charset "UTF-8";
* {
  position: relative;
  font-family: "Bitter", serif, 微軟正黑體;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
}

label {
  cursor: pointer;
}

.daybox {
  width: 50%;
  max-width: 400px;
  min-width: 400px;
  background-color: #f3f3f3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  cursor: pointer;
}
.daybox:hover .bottom {
  height: 100px;
}
.daybox:hover .dayweather {
  opacity: 1;
  top: 0px;
}

.tempsvg {
  width: 100%;
}
.tempsvg polyline {
  stroke: #f3f3f3;
  stroke-width: 1px;
  fill: none;
  opacity: 0.2;
}
.tempsvg text {
  fill: #f3f3f3;
  -webkit-transform: translateX(-10px) translateY(30px);
          transform: translateX(-10px) translateY(30px);
  opacity: 0;
}
.tempsvg circle {
  fill: #f3f3f3;
  opacity: 0.2;
}

.rain {
  width: 2px;
  height: 10px;
  position: absolute;
  background-color: #f3f3f3;
  left: 45px;
  bottom: 15px;
  -webkit-animation: raindrop 1s infinite linear;
          animation: raindrop 1s infinite linear;
}

.rain2 {
  left: 70px;
  bottom: 20px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.rain3 {
  left: 30px;
  bottom: 20px;
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}

@-webkit-keyframes raindrop {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes raindrop {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}
.top {
  height: 330px;
  background: -webkit-linear-gradient(70deg, #19283D, #1D678F);
  background: linear-gradient(20deg, #19283D, #1D678F);
  background-size: 100% 200%;
  -webkit-animation: daylight 20s infinite;
          animation: daylight 20s infinite;
  border-radius: 5px 5px 0px 0px;
}
@-webkit-keyframes daylight {
  0% {
    background-position: 100% 30%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 100% 30%;
  }
}
@keyframes daylight {
  0% {
    background-position: 100% 30%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 100% 30%;
  }
}
.top .moon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 15px -15px;
  position: absolute;
  left: 50px;
  top: 120px;
  -webkit-animation: moon 10s infinite;
          animation: moon 10s infinite;
}
@-webkit-keyframes moon {
  0% {
    box-shadow: 15px -15px #FFB140;
    -webkit-transform: translateX(-15px) translateY(15px);
            transform: translateX(-15px) translateY(15px);
  }
  50% {
    box-shadow: -30px 30px #FFB140;
    -webkit-transform: translateX(30px) translateY(-30px);
            transform: translateX(30px) translateY(-30px);
  }
  100% {
    box-shadow: 15px -15px #FFB140;
    -webkit-transform: translateX(-15px) translateY(15px);
            transform: translateX(-15px) translateY(15px);
  }
}
@keyframes moon {
  0% {
    box-shadow: 15px -15px #FFB140;
    -webkit-transform: translateX(-15px) translateY(15px);
            transform: translateX(-15px) translateY(15px);
  }
  50% {
    box-shadow: -30px 30px #FFB140;
    -webkit-transform: translateX(30px) translateY(-30px);
            transform: translateX(30px) translateY(-30px);
  }
  100% {
    box-shadow: 15px -15px #FFB140;
    -webkit-transform: translateX(-15px) translateY(15px);
            transform: translateX(-15px) translateY(15px);
  }
}
.cloud {
  width: 100px;
  height: 36px;
  position: absolute;
  left: 200px;
  bottom: 50px;
  border-radius: 20px;
  background-color: #f3f3f3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  -webkit-animation: cloudmove 4s infinite linear;
          animation: cloudmove 4s infinite linear;
}
.cloud:before, .cloud:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  background-color: #f3f3f3;
}
.cloud:before {
  left: 16px;
  top: -28px;
}
.cloud:after {
  left: 35px;
  top: -20px;
}
@-webkit-keyframes cloudmove {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes cloudmove {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.bottom {
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  background-color: rgba(40, 110, 215, 0.2);
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.bottom .dayweather {
  display: inline-block;
  width: calc(100%/7 - 5px);
  text-align: center;
  opacity: 0;
  top: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.bottom .dayweather h3 {
  font-size: 8px;
  color: rgba(51, 51, 51, 0.6);
  letter-spacing: 1px;
}
.bottom .dayweather svg {
  width: 100%;
  max-width: 40px;
  height: 40px;
}
.bottom .dayweather svg .sun {
  stroke: rgba(255, 177, 64, 0.5);
  stroke-width: 30px;
  stroke-dasharray: 5px;
  fill: #FFB140;
}
.bottom .dayweather svg .rain {
  stroke: #4DACFF;
}
.bottom .dayweather svg .cloud {
  fill: #414361;
}

.dayweather:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.dayweather:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.dayweather:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.dayweather:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.dayweather:nth-child(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.dayweather:nth-child(6) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.dayweather:nth-child(7) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.text-area {
  display: inline-block;
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: #f3f3f3;
}
.text-area .temperature {
  font-size: 75px;
  line-height: 80px;
}
.text-area .infos {
  font-size: 13px;
  opacity: 0.5;
}

.moon, .cloud {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tempsvg circle, .tempsvg polyline, .tempsvg text {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.tempsvg text {
  -webkit-transition: 0.5s 0.5s;
  transition: 0.5s 0.5s;
}

#switch-night {
  display: none;
}

#switch-night:checked + .top .moon {
  opacity: 0.2;
}
#switch-night:checked + .top .tempsvg circle, #switch-night:checked + .top .tempsvg polyline, #switch-night:checked + .top .tempsvg text {
  opacity: 1;
}
